body {
    color: black;
    text-align: left;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.cabecera {
    background: #33A;
    background-size: 30px;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

.logo {
    width: 25px;
    vertical-align: middle;
}

.tagline {
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 0.3em;
}

.container {
    width: 70%;
    padding: 0;
    text-align: left;
    margin: 20px auto;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.45);
}

.container h1 {
    font-size: 20px;
}

.post {
    background: white;
    padding: 1em;
}

.footer {
    background: rgb(65, 65, 65);
    color: white;
    padding: 0.5em;
    text-align: center;
}